@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    background-color: #E5E5E5;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 2em 4em;
  }

  /* Seccion Encriptar/Desencriptar */
  
  .main {
    max-width: 1440px;
    height: 100%;
    display: flex;
    gap: 20px;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .main_screen {
    width: 900px;
  }
  
  .main_content {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

 #text_input {
    width: 450px;
    height: 300px;
    padding: 5px;
    margin: 15px 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 150%;
    border: none;
    outline: none;
    resize: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
  }

  ::placeholder {
    color: #0A3871;
  }

  .main_content p {
    background-color: #E5E5E5;
    margin: 1.5em 1em 1em;
    color: #495057;
  }

  .buttons {
    display: flex;
    gap: 25px;
    justify-content: center;
  }

  button {
    border: 1px solid #0A3871;
    box-sizing: border-box;
    width: 280px;
    font-weight: 400;
    font-size: 16px;
    line-height: 10px;
    text-align: center;
    cursor: pointer;
  }

  .button1 {
    padding: 24px;
    background: #0A3871;
    border-radius: 24px;
    color: white;
  }

  .button2 {
    padding: 24px;
    background: #D8DFE8;
    border-radius: 24px;
    color: #0A3871;
    
  }

  .footer {
    margin-top: 3.5em;
    text-align: center;
  }

  .contact {
    font-size: 25px;
    color: #0A3871;
  }

  /* Seccion tarjeta mensaje */
  
  .card {
    width: 350px;
    height: 80vh;
    margin-top: 1em;
    padding: 20px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .main_img {
    background-color: #FFFFFF;
    margin-bottom: 5px;
  }

  .card h1 {
    padding-top: 0;
    margin-top: 0;
    background-color: #FFFFFF;
    color: #343A40;
  }

  .main_text {
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
    color: #495057;
  }

  /* Salida de texto */

  #text_output {
    display: none;
    width: 317px;
    height: 520px;
    position: absolute;
    z-index: 2;
    top: 75px;
    right: 98px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    border: none;
    outline: none;
    resize: none;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: #FFFFFF;
  }

  .btn_copiar {
    display: none;
    position: absolute;
    z-index: 2;
    bottom: 77px;
    right: 115px;
    padding: 24px;
    background: #0A3871;
    border-radius: 24px;
    color: white;
  }

  /* Media Query */

  @media (max-width: 768px) {
    body {
      margin: 3em;
    }

    .logo {
      width: 150px;
    }
    
    .main {
      flex-direction: column;
    }

    .main_content {
      margin: 1em;
    }

    .main_screen {
      width: 600px;
      margin: 0 auto;
    }

    #text_input {
      width: 600px;
      height: 465px;
      font-size: 45px;
    }

    .main_content p {
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 32px;
      text-align: center;
    }

    .button1, .button2 {
      width: 330px;
      padding: 50px;
      font-size: 32px;
    }

    .container {
      margin-top: 1em;
      display: flex;
      justify-content: center;
    }

    .card {
      width: 780px;
      height: 390px;
      padding: 20px;
    }

    .main_img {
      display: none;
    }

    .main_title {
      margin-top: .3em;
      padding: 0;
      font-size: 35px;
    }

    .main_text {
      margin: 0;
      padding: 0;
      font-size: 32px;
    }

    #text_output {
      position: absolute;
      width: 550px;
      height: 215px;
      top: 975px;
      left: 90px;
      padding: 20px;
      font-size: 32px;
    }

    .btn_copiar {
      position: absolute;
      width: 595px;
      bottom: -410px;
      left: 89px;
      padding: 40px;
      font-size: 30px;
    }

    .contact {
      font-size: 40px;
    }

    .footer {
      margin-top: 2em;
      font-size: 32px;
    }
  }

  @media (max-width: 375px){
    body {
      margin: 2em 1em;
    }

    .logo {
      width: 100px;
    }

    .main_screen {
      width: 300px;
      margin: 0 auto;
    }

    #text_input {
      width: 300px;
      height: 260px;
      font-size: 30px;
    }

    .main_content p {
      margin: 1em 0;
      font-size: 14px;
    }

    .buttons {
      display: flex;
      flex-direction: column;
    }

    .button1, .button2 {
      font-size: 20px;
      padding: 30px;
    }

    .container {
      margin-top: .2em;
    }

    .main_title, .main_text {
      font-size: 24px;
    }

    #text_output {
      position: absolute;
      width: 270px;
      height: 260px;
      top: 670px;
      left: 30px;
      padding: 20px;
      font-size: 24px;
    }
    
    .btn_copiar {
      position: absolute;
      width: 290px;
      bottom: -360px;
      left: 45px;
      padding: 30px;
      font-size: 20px;
    }

    .contact {
      font-size: 30px;
    }

    .footer {
      margin-top: 2em;
      font-size: 20px;
    }
  }